<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.dao.DepartmentDao">
    <sql id="department">
        select  department_id departmentId, department_name departmentName,levels,parent_id parentId from department
    </sql>
    <select id="queryByPage" resultType="Department">
        <include refid="department"></include>   where  levels=#{levels}
        limit #{start},#{rows}
    </select>
    <select id="getLevelsCount" resultType="Integer">
    select count(department_id) from department where  levels=#{levels}
</select>
    <select id="findAllDepartment" resultType="Department">
        <include refid="department"></include>
</select>
    <select id="findAllDepartment1" resultType="Department">
        <include refid="department"></include>
        where levels=1
    </select>
    <select id="findAllDepartment2" resultType="Department">
        <include refid="department"></include>
        where levels=1
    </select>
    <select id="findDepartment2ByDepartment1Id" resultType="Department">
        <include refid="department"></include>
        where levels=2 and parent_id=#{departmentId}
    </select>
    <select id="findByDepartmentName" resultType="Department">
        <include refid="department"></include>
        where department_name=#{departmentName}
    </select>
    <select id="findByDepartmentId" resultType="Department">
        <include refid="department"></include>
        where department_id= #{departmentId}
    </select>
    <insert id="addDepartment">
     insert  into department(department_id,department_name,levels,parent_id) values
     (#{departmentId},#{departmentName},#{levels},#{parentId})
    </insert>
     <delete id="deleteDepartment">
          delete from department where  department_id=#{departmentId}

      </delete>
</mapper>