<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.dao.DoctorDao">
<sql id="doctor">
    select id,doctor_name doctorName,department_id departmentId,position,presentation,src ,status from doctor
</sql>
<select id="queryByPage" resultType="Doctor">
    <include refid="doctor"></include> limit #{start},#{rows}
</select>
    <select id="getCount" resultType="Integer">
        select  count(id) from doctor
    </select>
    <select id="findDoctorByDepartment"  resultType="Doctor">
        <include refid="doctor"></include> where department_id=#{departmentId}
    </select>
    <select id="findAllDoctor"  resultType="Doctor">
        <include refid="doctor"></include>
    </select>
    <insert id="addDoctor">
        insert into doctor values (#{id},#{doctorName},#{departmentId},#{position},#{presentation},#{src},#{status})
    </insert>
    <delete id="deleteDoctor">
        delete from doctor where id=#{doctorId}
    </delete>
    <update id="updateDoctor">
        update doctor set department_id=#{departmentId},position=#{position},presentation=#{presentation},src=#{src} ,status=#{status}
        where id={id}
    </update>
</mapper>