<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ln.dao.UserDao">
    <sql id="user">
   select  user_id userId,username,	`password`,`call`,`status`
    from  user
</sql>
    <select id="queryUserByCall" resultType="User">
        <include refid="user"></include>
        where             `call`=#{call}
    </select>
    <select id="queryByUserId" resultType="User">
        <include refid="user"></include>
        where  user_id=#{userId}
    </select>
    <insert id="addUser">
        insert into user values (#{userId},#{username},#{password},#{call},#{status})
    </insert>
    <update id="updateUser">
        update user set
        <if test="password!=null">
            password=#{password}
        </if>
        <if test="call!=null">
           `call`=#{call}
        </if>
        <if test="status!=null">
            `status`=#{status}
        </if>
        where user_id=#{userId}
    </update>
    <select id="queryPageUser" resultType="User">
        <include refid="user"></include>
        <where>
            <if test="user.username!=null">
                username=#{user.username}
            </if>
            <if test="user.call!=null">
              or  `call`=#{user.call}
            </if>
        </where>
        limit #{start},5
    </select>
    <select id="getUserCount" resultType="Integer">
       select count(user_id)  from user
        <where>
            <if test="username!=null">
                username=#{username}
            </if>
            <if test="call!=null">
               or `call`=#{call}
            </if>
        </where>

    </select>
</mapper>